{% load static %}
    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-dark-grayscale>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0.49803921568627" />
                    <feFuncG type="table" tableValues="0 0.49803921568627" />
                    <feFuncB type="table" tableValues="0 0.49803921568627" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-grayscale>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-purple-yellow>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-blue-red>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 0.27843137254902" />
                    <feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-midnight>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0" />
                    <feFuncG type="table" tableValues="0 0.64705882352941" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-magenta-yellow>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.78039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.94901960784314" />
                    <feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-purple-green>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.44705882352941 0.4" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-blue-orange>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.098039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.66274509803922" />
                    <feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <div id=site-wrapper class=site-wrapper>
        <header  style="background-color:black;" id=header class=site-header>
            <nav id=top-header-nav class="navbar navbar-expand-xl navbar-light">
                <a class=navbar-brand href="{% url 'index' %}"><img fetchpriority=high src="{% static 'images/logo.png' %}"
                        alt="SmartSites Digital Marketing Agency" style="width: 120px ;height:80px;"></a>
                <div class="collapse navbar-collapse collapse-block" id=navbarToggler>
                    <div id=navbarToggler class="collapse navbar-collapse collapse-block">
                        <ul id=menu-primary-menu class="navbar-nav ml-auto">
                            <li id=menu-item-29344
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29344 nav-item">
                                <a href="{% url 'services'%}" class=nav-link>Services</a>
                            </li>
                            <li id=menu-item-430
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430 nav-item">
                                <a href="{% url 'work' %}" class=nav-link>Our Work</a>
                            </li>
                            <li id=menu-item-435
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-435 nav-item">
                                <a href="{% url 'company' %}" class=nav-link>Company</a>
                            </li>
                            <li id=menu-item-440
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-440 nav-item">
                            <a href="{% url 'contact' %}" class=nav-link>Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href=tel:2018706000 class="click-call gradient-text h5">0151 546 5585</a>
            <button type=button class="btn toggle-menu-btn" data-toggle=modal data-target=#custom-toggle-menu>
                <span class=bar-icon></span>
            </button>
        </nav>
    </header>
