{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Arm Solutions Company</title>
{% endblock %}
{% block meta %}
<meta name="title" content=" Company | ARM Solutions UK">
<meta name="index" content="about ARM Solutions, ARM Solutions company, UK web development company, ARM Solutions team, web development experts, software development UK">
<meta name="description" content="Learn more about ARM Solutions, a leading web development company in the UK. Meet our team of experts and discover our commitment to delivering innovative digital solutions.">
<meta property="og:type" content="website">
<meta property="og:title" content="About ARM Solutions | Leading UK Web Development Company">
<meta property="og:description" content="Discover ARM Solutions, a premier web development company based in the UK. Learn about our team, our mission, and our dedication to providing top-notch digital services.">
<meta property="og:image" content="https://arm-solutions.co.uk/static/images/logo.png">
<meta property="og:url" content="https://www.arm-solutions.co.uk/static/images/logo.png">

{% endblock %}
{% block content %}
<body
    class="page-template page-template-page-templates page-template-tpl-company page-template-page-templatestpl-company-php page page-id-2 page-parent has-sidebar">
        {% include 'includes/header.html' %}
    <div id=site-wrapper class=site-wrapper>
        >
        <main style="margin-top:4rem;" id=main class=site-content>
            <section class="company-bannr bg-coer">
                <img width=2000 height=970 src="{% static 'images/back.webp' %}" class=bg-image alt="Company banner"
>                <div style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)" class="company-banner__content text-white text-center" data-aos=fade-down data-aos-duration=1000>
                    <h1>Transforming ideas into reality.</h1>
                </div>
            </section>
          <!--  <section class=team-activites>
                <div class=container-fluid>
                    <div class=row>
                        <div class="col col1 team-activites__item">
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=457 height=429 src=../media/smartsites-international-conference.jpg
                                    class="attachment-full size-full" alt="SmartSites International Conference"
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/smartsites-international-conference.jpg 457w, https://www.smartsites.com/media/smartsites-international-conference-300x282.jpg 300w, https://www.smartsites.com/media/smartsites-international-conference-296x278.jpg 296w, https://www.smartsites.com/media/smartsites-international-conference-371x348.jpg 371w, https://www.smartsites.com/media/smartsites-international-conference-448x421.jpg 448w, https://www.smartsites.com/media/smartsites-international-conference-200x188.jpg 200w, https://www.smartsites.com/media/smartsites-international-conference-75x70.jpg 75w"
                                    fetchpriority=high data-preload=1>
                            </div>
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=457 height=449 src=../media/we-love-to-play-games.jpg
                                    class="attachment-full size-full" alt="We Love to Play Indoor Games"
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/we-love-to-play-games.jpg 457w, https://www.smartsites.com/media/we-love-to-play-games-300x295.jpg 300w, https://www.smartsites.com/media/we-love-to-play-games-441x433.jpg 441w, https://www.smartsites.com/media/we-love-to-play-games-283x278.jpg 283w, https://www.smartsites.com/media/we-love-to-play-games-354x348.jpg 354w, https://www.smartsites.com/media/we-love-to-play-games-429x421.jpg 429w, https://www.smartsites.com/media/we-love-to-play-games-191x188.jpg 191w, https://www.smartsites.com/media/we-love-to-play-games-75x75.jpg 75w"
                                    fetchpriority=high data-preload=1>
                            </div>
                        </div>
                        <div class="col col2 team-activites__item">
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=420 height=473 src=../media/smartsites-indoor-game.jpg
                                    class="attachment-full size-full" alt="Indoor Game"
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/smartsites-indoor-game.jpg 420w, https://www.smartsites.com/media/smartsites-indoor-game-266x300.jpg 266w, https://www.smartsites.com/media/smartsites-indoor-game-384x433.jpg 384w, https://www.smartsites.com/media/smartsites-indoor-game-247x278.jpg 247w, https://www.smartsites.com/media/smartsites-indoor-game-309x348.jpg 309w, https://www.smartsites.com/media/smartsites-indoor-game-374x421.jpg 374w, https://www.smartsites.com/media/smartsites-indoor-game-412x464.jpg 412w, https://www.smartsites.com/media/smartsites-indoor-game-167x188.jpg 167w, https://www.smartsites.com/media/smartsites-indoor-game-67x75.jpg 67w"
                                    fetchpriority=high data-preload=1>
                            </div>
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=420 height=359 src=../media/smartsites-refreshment-tour.jpg
                                    class="attachment-full size-full" alt="SmartSites Refreshment Tour"
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/smartsites-refreshment-tour.jpg 420w, https://www.smartsites.com/media/smartsites-refreshment-tour-300x256.jpg 300w, https://www.smartsites.com/media/smartsites-refreshment-tour-325x278.jpg 325w, https://www.smartsites.com/media/smartsites-refreshment-tour-407x348.jpg 407w, https://www.smartsites.com/media/smartsites-refreshment-tour-220x188.jpg 220w, https://www.smartsites.com/media/smartsites-refreshment-tour-75x64.jpg 75w"
                                    fetchpriority=high data-preload=1>
                            </div>
                        </div>
                        <div class="col col3 team-activites__item">
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=413 height=348 src=../media/workspace-fed.jpg
                                    class="attachment-full size-full" alt="FED Workspace"
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/workspace-fed.jpg 413w, https://www.smartsites.com/media/workspace-fed-300x253.jpg 300w, https://www.smartsites.com/media/workspace-fed-330x278.jpg 330w, https://www.smartsites.com/media/workspace-fed-223x188.jpg 223w, https://www.smartsites.com/media/workspace-fed-75x63.jpg 75w"
                                    fetchpriority=high data-preload=1>
                            </div>
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=413 height=273 src=../media/project-discussion.jpg
                                    class="attachment-full size-full" alt="Project Discussion"
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/project-discussion.jpg 413w, https://www.smartsites.com/media/project-discussion-300x198.jpg 300w, https://www.smartsites.com/media/project-discussion-284x188.jpg 284w, https://www.smartsites.com/media/project-discussion-75x50.jpg 75w"
                                    fetchpriority=high data-preload=1>
                            </div>
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=413 height=374 src=../media/company-tour-to-taj-mahal.jpg
                                    class="attachment-full size-full" alt="Company Tour to Taj Mahal"
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/company-tour-to-taj-mahal.jpg 413w, https://www.smartsites.com/media/company-tour-to-taj-mahal-300x272.jpg 300w, https://www.smartsites.com/media/company-tour-to-taj-mahal-307x278.jpg 307w, https://www.smartsites.com/media/company-tour-to-taj-mahal-384x348.jpg 384w, https://www.smartsites.com/media/company-tour-to-taj-mahal-208x188.jpg 208w, https://www.smartsites.com/media/company-tour-to-taj-mahal-75x68.jpg 75w"
                                    fetchpriority=high data-preload=1>
                            </div>
                        </div>
                        <div class="col col4 team-activites__item">
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=348 height=511 src=../media/team-at-game-parlour.jpg
                                    class="attachment-full size-full" alt=team-at-game-parlour
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/team-at-game-parlour.jpg 348w, https://www.smartsites.com/media/team-at-game-parlour-204x300.jpg 204w, https://www.smartsites.com/media/team-at-game-parlour-295x433.jpg 295w, https://www.smartsites.com/media/team-at-game-parlour-189x278.jpg 189w, https://www.smartsites.com/media/team-at-game-parlour-237x348.jpg 237w, https://www.smartsites.com/media/team-at-game-parlour-287x421.jpg 287w, https://www.smartsites.com/media/team-at-game-parlour-316x464.jpg 316w, https://www.smartsites.com/media/team-at-game-parlour-128x188.jpg 128w, https://www.smartsites.com/media/team-at-game-parlour-51x75.jpg 51w"
                                    fetchpriority=high data-preload=1>
                            </div>
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=348 height=320 src=../media/company-video-shooting.jpg
                                    class="attachment-full size-full" alt="SmartSites Company Video Shooting"
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/company-video-shooting.jpg 348w, https://www.smartsites.com/media/company-video-shooting-300x276.jpg 300w, https://www.smartsites.com/media/company-video-shooting-302x278.jpg 302w, https://www.smartsites.com/media/company-video-shooting-204x188.jpg 204w, https://www.smartsites.com/media/company-video-shooting-75x69.jpg 75w"
                                    fetchpriority=high data-preload=1>
                            </div>
                            <div class=img-wrap data-aos=fade-up data-aos-duration=1000>
                                <img width=348 height=281 src=../media/smartsites-together-we-can-grow.jpg
                                    class="attachment-full size-full" alt="SmartSites Together We Can Grow"
                                    sizes="(max-width: 767px) 47vw, (max-width: 1849px) 27vw, 457px"
                                    srcset="https://www.smartsites.com/media/smartsites-together-we-can-grow.jpg 348w, https://www.smartsites.com/media/smartsites-together-we-can-grow-300x242.jpg 300w, https://www.smartsites.com/media/smartsites-together-we-can-grow-344x278.jpg 344w, https://www.smartsites.com/media/smartsites-together-we-can-grow-233x188.jpg 233w, https://www.smartsites.com/media/smartsites-together-we-can-grow-75x61.jpg 75w"
                                    fetchpriority=high data-preload=1>
                            </div>
                        </div>
                    </div>
                    <div class=team-activites__footer data-aos=fade-up data-aos-duration=1000>
                        <h2 class="title-lg">We love <br><span> what we do</span></h2> <a
                            href="{% url 'meet_the_team' %}" class="btn btn-primary">Meet The Team</a>
                    </div>
                </div>
            /section>-->
            <div id=reviews></div>
            <section class="our-industry text-center">
                <div class=our-industry__left-bg data-aos=fade-right data-aos-duration=1000>&nbsp;</div>
                <div class=container>
                    <div class=our-industry__wrap data-aos=fade-up data-aos-duration=1000>
                        <h4 class="title-lg">Masters of Industry with Proven Results </h4>
                        <p>Across Dozens of Verticals.</p>
                        <!-- <a href=../experts/index.html class="btn btn-primary">Preview Our Industries</a> -->
                    </div>
                </div>
                <div class=our-industry__right-bg data-aos=fade-left data-aos-duration=1000>&nbsp;</div>
            </section>
            <section class=our-achievements>

            </section>

            <section class="block-career bg-cover">

                <div class="container text-center">
                    <div class="block-career__wrap " data-aos=fade-down data-aos-duration=1000>
                        <h4 class="title-lg">Jump-start your career with arm solutions</h4>
                        <p>If you're passionate about  taking your business to next level, we want to
                            hear from you!</p>

                    </div>
                </div>
            </section>

            <section  class="inner-banner team-banner bg-cover" id=smooth-scroll-body>
            <h4 style="text-align:center;padding-top:1rem;color:white;">Meet The Team</h4>
                <div style="display:flex;justify-content:space-around;padding-top:4rem;align-items:center;" class="our-teams__wrap d-flex flex-wrap">

                    <div class=our-teams__item data-aos=fade-up-right data-aos-duration=1000>
                        <a href=./adam-james-franco/index.html class="bg-cover d-flex align-items-end">

                                <img width=394 height=426 src="{% static 'images/Untitled.jg' %}">
                            <div class="panel-text text-center">
                                <h5> Davie</h5>
                                <span class=color-primary>Founder</span>
                            </div>
                        </a>
                    </div>
                    <div class=our-teams__item data-aos=fade-up-right data-aos-duration=1000>
                        <a href=./adam-james-franco/index.html class="bg-cover d-flex align-items-end">
                            <picture>
                                <source data-srcset=../media/michael-melen-smartsites.jpg
                                    media="(min-width: 390px) and (max-width: 394px)">
                                <source data-srcset=../media/michael-melen-smartsites-389x421.jpg
                                    media="(min-width: 323px) and (max-width: 389px)">
                                <source data-srcset=../media/michael-melen-smartsites-322x348.jpg
                                    media="(min-width: 278px) and (max-width: 322px)">
                                <source data-srcset=../media/michael-melen-smartsites-277x300.jpg
                                    media="(min-width: 258px) and (max-width: 277px)">
                                <source data-srcset=../media/michael-melen-smartsites-257x278.jpg
                                    media="(min-width: 175px) and (max-width: 257px)">
                                <source data-srcset=../media/michael-melen-smartsites-174x188.jpg
                                    media="(min-width: 70px) and (max-width: 174px)">
                                <source data-srcset=../media/michael-melen-smartsites-69x75.jpg
                                    media="(max-width: 69px)">
                                <img width=394 height=426 data-src=../media/michael-melen-smartsites.jpg class=bg-image
                                    alt="michael melen" loading=eager style="display: none;">
                            </picture>
                            <div class="panel-text text-center">
                                <h5>Bishal murmu</h5>
                                <span class=color-primary>Co-Founder</span>
                            </div>
                        </a>
                    </div>

                    <div class=our-teams__item data-aos=fade-up-right data-aos-duration=1000>
                        <a href=./adam-james-franco/index.html class="bg-cover d-flex align-items-end">
                            <picture>
                                <source data-srcset=../media/smartsites-beth-bendon.jpg
                                    media="(min-width: 390px) and (max-width: 394px)">
                                <source data-srcset=../media/smartsites-beth-bendon-389x421.jpg
                                    media="(min-width: 323px) and (max-width: 389px)">
                                <source data-srcset=../media/smartsites-beth-bendon-322x348.jpg
                                    media="(min-width: 278px) and (max-width: 322px)">
                                <source data-srcset=../media/smartsites-beth-bendon-277x300.jpg
                                    media="(min-width: 258px) and (max-width: 277px)">
                                <source data-srcset=../media/smartsites-beth-bendon-257x278.jpg
                                    media="(min-width: 175px) and (max-width: 257px)">
                                <source data-srcset=../media/smartsites-beth-bendon-174x188.jpg
                                    media="(min-width: 70px) and (max-width: 174px)">
                                <source data-srcset=../media/smartsites-beth-bendon-69x75.jpg media="(max-width: 69px)">
                                <img width=394 height=426 data-src=../media/smartsites-beth-bendon.jpg class=bg-image
                                    alt="Meet SmartSites team Beth Bendon" loading=eager style="display: none;">
                            </picture>
                            <div class="panel-text text-center">
                                <h5>Sandesh Sitaula</h5>
                                <span class=color-primary>Co-Founder</span>
                            </div>
                        </a>
                    </div>

                </div>
            </section>

        </main>
        <!-- footer  -->
       {% include 'includes/footer.html' %}
    <link rel=stylesheet href="{% static 'wp-content/cache/minify/4b06f.css' %}" media=all>
    <script async src="{% static 'wp-content/cache/minify/8115f.js' %}"></script>
    <script async src="{% static 'wp-content/cache/minify/aba2a.js' %}"></script>
</body>

{% endblock %}
