{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="archive post-type-archive post-type-archive-ss_team hfeed has-sidebar">
    <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-dark-grayscale>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0.49803921568627" />
                    <feFuncG type="table" tableValues="0 0.49803921568627" />
                    <feFuncB type="table" tableValues="0 0.49803921568627" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-grayscale>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-purple-yellow>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-blue-red>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 0.27843137254902" />
                    <feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-midnight>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0" />
                    <feFuncG type="table" tableValues="0 0.64705882352941" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-magenta-yellow>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.78039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.94901960784314" />
                    <feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-purple-green>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.44705882352941 0.4" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 0 0" width=0 height=0 focusable=false role=none
        style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id=wp-duotone-blue-orange>
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                    values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.098039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.66274509803922" />
                    <feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <div id=site-wrapper class=site-wrapper>
        <header id=header class=site-header>
            <nav id=top-header-nav class="navbar navbar-expand-xl navbar-light">
                <a class=navbar-brand href=../index.html><img fetchpriority=high
                        src="../images/logo.png"
                        alt="arm solutions Digital Marketing Agency" style="width:120px;"></a>
                <div class="collapse navbar-collapse collapse-block" id=navbarToggler>
                    <div id=navbarToggler class="collapse navbar-collapse collapse-block">
                        <ul id=menu-primary-menu class="navbar-nav ml-auto">
                            <li id=menu-item-29344
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29344 nav-item">
                                <a href=../digital-marketing-services/index.html class=nav-link>Services</a></li>
                            <li id=menu-item-430
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430 nav-item">
                                <a href=../work/index.html class=nav-link>Our Work</a></li>
                            <li id=menu-item-435
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-435 nav-item">
                                <a href=../company/index.html class=nav-link>Company</a></li>
                            <li id=menu-item-440
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-440 nav-item">
                                <a href=../contact/index.html class=nav-link>Contact</a></li>
                        </ul>
                    </div>
                </div>
                <a href=tel:2018706000 class="click-call gradient-text h5">201-870-6000</a>
                <button type=button class="btn toggle-menu-btn" data-toggle=modal data-target=#custom-toggle-menu>
                    <span class=bar-icon></span>
                </button>
            </nav>
        </header>
        <main id=main class=site-content>
            <section class="inner-banner team-banner bg-cover">
                <picture>
                    <source data-srcset=../media/our-team-bg-new.jpg
                        media="(min-width: 1537px) and (max-width: 2000px)">
                    <source data-srcset=../media/our-team-bg-new-1536x715.jpg
                        media="(min-width: 1025px) and (max-width: 1536px)">
                    <source data-srcset=../media/our-team-bg-new-1024x477.jpg
                        media="(min-width: 998px) and (max-width: 1024px)">
                    <source data-srcset=../media/our-team-bg-new-997x464.jpg
                        media="(min-width: 769px) and (max-width: 997px)">
                    <source data-srcset=../media/our-team-bg-new-768x358.jpg
                        media="(min-width: 756px) and (max-width: 768px)">
                    <source data-srcset=../media/our-team-bg-new-755x351.jpg
                        media="(min-width: 688px) and (max-width: 755px)">
                    <source data-srcset=../media/our-team-bg-new-687x320.jpg
                        media="(min-width: 641px) and (max-width: 687px)">
                    <source data-srcset=../media/our-team-bg-new-640x298.jpg
                        media="(min-width: 571px) and (max-width: 640px)">
                    <source data-srcset=../media/our-team-bg-new-570x265.jpg
                        media="(min-width: 547px) and (max-width: 570px)">
                    <source data-srcset=../media/our-team-bg-new-546x254.jpg
                        media="(min-width: 405px) and (max-width: 546px)">
                    <source data-srcset=../media/our-team-bg-new-404x188.jpg
                        media="(min-width: 301px) and (max-width: 404px)">
                    <source data-srcset=../media/our-team-bg-new-300x140.jpg
                        media="(min-width: 76px) and (max-width: 300px)">
                    <source data-srcset=../media/our-team-bg-new-75x35.jpg media="(max-width: 75px)">
                    <img width=2000 height=931 data-src=../media/our-team-bg-new.jpg class=bg-image alt="Our Team"
                        loading=eager style="display: none;">
                </picture>
                <div class=container>
                    <div class="inner-banner__title text-white text-center">
                        <h1 data-aos="fade-down" data-aos-duration="1000">Our Team</h1>
                    </div>
                    <div class="inner-banner__btn-scroll text-center text-white" id=smooth-scroll-btn>
                        <a href=#>Meet Our Team<i class="icon icon-arrow-down"></i></a>
                    </div>
                </div>
            </section>
            <section class=our-teams id=smooth-scroll-body>
                <div class="our-teams__wrap d-flex flex-wrap">
                    <div class=our-teams__item data-aos=fade-up-right data-aos-duration=1000>
                        <a href=./adam-james-franco/index.html class="bg-cover d-flex align-items-end">
                            <picture>
                                <source data-srcset=../media/alex-melen-featured-image-v2.jpg
                                    media="(min-width: 390px) and (max-width: 394px)">
                                <source data-srcset=../media/alex-melen-featured-image-v2-389x421.jpg
                                    media="(min-width: 323px) and (max-width: 389px)">
                                <source data-srcset=../media/alex-melen-featured-image-v2-322x348.jpg
                                    media="(min-width: 278px) and (max-width: 322px)">
                                <source data-srcset=../media/alex-melen-featured-image-v2-277x300.jpg
                                    media="(min-width: 258px) and (max-width: 277px)">
                                <source data-srcset=../media/alex-melen-featured-image-v2-257x278.jpg
                                    media="(min-width: 175px) and (max-width: 257px)">
                                <source data-srcset=../media/alex-melen-featured-image-v2-174x188.jpg
                                    media="(min-width: 70px) and (max-width: 174px)">
                                <source data-srcset=../media/alex-melen-featured-image-v2-69x75.jpg
                                    media="(max-width: 69px)">
                                <img width=394 height=426 data-src=../media/alex-melen-featured-image-v2.jpg
                                    class=bg-image alt="Alex Melen" loading=eager style="display: none;">
                            </picture>
                            <div class="panel-text text-center">
                                <h5> Davie</h5>
                                <span class=color-primary>Founder</span>
                            </div>
                        </a>
                    </div>
                    <div class=our-teams__item data-aos=fade-up-right data-aos-duration=1000>
                        <a href=./adam-james-franco/index.html class="bg-cover d-flex align-items-end">
                            <picture>
                                <source data-srcset=../media/michael-melen-smartsites.jpg
                                    media="(min-width: 390px) and (max-width: 394px)">
                                <source data-srcset=../media/michael-melen-smartsites-389x421.jpg
                                    media="(min-width: 323px) and (max-width: 389px)">
                                <source data-srcset=../media/michael-melen-smartsites-322x348.jpg
                                    media="(min-width: 278px) and (max-width: 322px)">
                                <source data-srcset=../media/michael-melen-smartsites-277x300.jpg
                                    media="(min-width: 258px) and (max-width: 277px)">
                                <source data-srcset=../media/michael-melen-smartsites-257x278.jpg
                                    media="(min-width: 175px) and (max-width: 257px)">
                                <source data-srcset=../media/michael-melen-smartsites-174x188.jpg
                                    media="(min-width: 70px) and (max-width: 174px)">
                                <source data-srcset=../media/michael-melen-smartsites-69x75.jpg
                                    media="(max-width: 69px)">
                                <img width=394 height=426 data-src=../media/michael-melen-smartsites.jpg class=bg-image
                                    alt="michael melen" loading=eager style="display: none;">
                            </picture>
                            <div class="panel-text text-center">
                                <h5>Bishal murmu</h5>
                                <span class=color-primary>Co-Founder</span>
                            </div>
                        </a>
                    </div>
                   
                    <div class=our-teams__item data-aos=fade-up-right data-aos-duration=1000>
                        <a href=./adam-james-franco/index.html class="bg-cover d-flex align-items-end">
                            <picture>
                                <source data-srcset=../media/smartsites-beth-bendon.jpg
                                    media="(min-width: 390px) and (max-width: 394px)">
                                <source data-srcset=../media/smartsites-beth-bendon-389x421.jpg
                                    media="(min-width: 323px) and (max-width: 389px)">
                                <source data-srcset=../media/smartsites-beth-bendon-322x348.jpg
                                    media="(min-width: 278px) and (max-width: 322px)">
                                <source data-srcset=../media/smartsites-beth-bendon-277x300.jpg
                                    media="(min-width: 258px) and (max-width: 277px)">
                                <source data-srcset=../media/smartsites-beth-bendon-257x278.jpg
                                    media="(min-width: 175px) and (max-width: 257px)">
                                <source data-srcset=../media/smartsites-beth-bendon-174x188.jpg
                                    media="(min-width: 70px) and (max-width: 174px)">
                                <source data-srcset=../media/smartsites-beth-bendon-69x75.jpg media="(max-width: 69px)">
                                <img width=394 height=426 data-src=../media/smartsites-beth-bendon.jpg class=bg-image
                                    alt="Meet SmartSites team Beth Bendon" loading=eager style="display: none;">
                            </picture>
                            <div class="panel-text text-center">
                                <h5>sandesh sitaula</h5>
                                <span class=color-primary>Co-Founder</span>
                            </div>
                        </a>
                    </div>
                   
                </div>
            </section>
            <section class="ss-services bg-cover">
                <picture>
                    <source data-srcset=../media/bg-global.jpg media="(min-width: 1537px) and (max-width: 1900px)">
                    <source data-srcset=../media/bg-global-1536x639.jpg
                        media="(min-width: 1276px) and (max-width: 1536px)">
                    <source data-srcset=../media/bg-global-1275x530.jpg
                        media="(min-width: 1117px) and (max-width: 1275px)">
                    <source data-srcset=../media/bg-global-1116x464.jpg
                        media="(min-width: 1025px) and (max-width: 1116px)">
                    <source data-srcset=../media/bg-global-1024x426.jpg
                        media="(min-width: 769px) and (max-width: 1024px)">
                    <source data-srcset=../media/bg-global-768x319.jpg
                        media="(min-width: 756px) and (max-width: 768px)">
                    <source data-srcset=../media/bg-global-755x314.jpg
                        media="(min-width: 688px) and (max-width: 755px)">
                    <source data-srcset=../media/bg-global-687x286.jpg
                        media="(min-width: 571px) and (max-width: 687px)">
                    <source data-srcset=../media/bg-global-570x237.jpg
                        media="(min-width: 547px) and (max-width: 570px)">
                    <source data-srcset=../media/bg-global-546x227.jpg
                        media="(min-width: 448px) and (max-width: 546px)">
                    <source data-srcset=../media/bg-global-447x186.jpg
                        media="(min-width: 301px) and (max-width: 447px)">
                    <source data-srcset=../media/bg-global-300x125.jpg media="(min-width: 76px) and (max-width: 300px)">
                    <source data-srcset=../media/bg-global-75x31.jpg media="(max-width: 75px)">
                    <img width=1900 height=790 data-src=../media/bg-global.jpg class=bg-image alt loading=eager
                        style="display: none;">
                </picture>
                <div class=container>
                    <div class="section-title text-white text-center" data-aos=fade-down data-aos-duration=1000>
                        <h2>Arm solutions Global</h2>
                        <p class="d-none d-md-block">We have the best & brightest in UK liver pool and across the globe.
                        </p> <select class="custom-select d-block d-md-none" title="Select Team">
                            <option selected=selected value=all>Show All Teams</option>
                            <option value=design>Design</option>
                            <option value=frontend-development>Frontend Development</option>
                            <option value=backend-development>Backend Development</option>
                            <option value=seo>SEO</option>
                            <option value=content>Content</option>
                            <option value=marketing-admin>Marketing Admin</option>
                        </select>
                    </div>
                    <div class=ss-services__wrap>
                        <div class=row>
                            <div class="col-xl-4 col-md-6 ss-services__item design" data-aos=fade-up-left
                                data-aos-duration=1000>
                                <div class="row no-gutters">
                                    <div class="col-4 img-holder">
                                        <div class="ss-services__img-wrap bg-cover">
                                            <picture>
                                                <source data-srcset=../media/img-design.jpg
                                                    media="(min-width: 59px) and (max-width: 140px)">
                                                <source data-srcset=../media/img-design-58x75.jpg
                                                    media="(max-width: 58px)">
                                                <img width=140 height=180 data-src=../media/img-design.jpg
                                                    class=bg-image alt loading=eager style="display: none;">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class=col-8>
                                        <div class=ss-services__text-wrap>
                                            <h6 class="title">Design</h6>
                                            <ul>
                                                <li>Team Leader: <span>Sherry Arora</span></li>
                                                <li>Team Size: <span>29</span></li>
                                                <li>Focus Areas: <span>Web Design, UX/UI Design, Graphic Design</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 ss-services__item frontend-development" data-aos=fade-up-left
                                data-aos-duration=1000>
                                <div class="row no-gutters">
                                    <div class="col-4 img-holder">
                                        <div class="ss-services__img-wrap bg-cover">
                                            <picture>
                                                <source data-srcset=../media/team-frontend.jpg
                                                    media="(min-width: 523px) and (max-width: 600px)">
                                                <source data-srcset=../media/team-frontend-522x348.jpg
                                                    media="(min-width: 418px) and (max-width: 522px)">
                                                <source data-srcset=../media/team-frontend-417x278.jpg
                                                    media="(min-width: 301px) and (max-width: 417px)">
                                                <source data-srcset=../media/team-frontend-300x200.jpg
                                                    media="(min-width: 283px) and (max-width: 300px)">
                                                <source data-srcset=../media/team-frontend-282x188.jpg
                                                    media="(min-width: 76px) and (max-width: 282px)">
                                                <source data-srcset=../media/team-frontend-75x50.jpg
                                                    media="(max-width: 75px)">
                                                <img width=600 height=400 data-src=../media/team-frontend.jpg
                                                    class=bg-image alt loading=eager style="display: none;">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class=col-8>
                                        <div class=ss-services__text-wrap>
                                            <h6 class="title">Frontend Development</h6>
                                            <ul>
                                                <li>Team Leader: <span>Vaskar Nepal</span></li>
                                                <li>Team Size: <span>62</span></li>
                                                <li>Focus Areas: <span>CMS Management, HTML/CSS</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 ss-services__item backend-development" data-aos=fade-up-left
                                data-aos-duration=1000>
                                <div class="row no-gutters">
                                    <div class="col-4 img-holder">
                                        <div class="ss-services__img-wrap bg-cover">
                                            <picture>
                                                <source data-srcset=../media/team-backend.jpg
                                                    media="(min-width: 523px) and (max-width: 600px)">
                                                <source data-srcset=../media/team-backend-522x348.jpg
                                                    media="(min-width: 418px) and (max-width: 522px)">
                                                <source data-srcset=../media/team-backend-417x278.jpg
                                                    media="(min-width: 301px) and (max-width: 417px)">
                                                <source data-srcset=../media/team-backend-300x200.jpg
                                                    media="(min-width: 283px) and (max-width: 300px)">
                                                <source data-srcset=../media/team-backend-282x188.jpg
                                                    media="(min-width: 76px) and (max-width: 282px)">
                                                <source data-srcset=../media/team-backend-75x50.jpg
                                                    media="(max-width: 75px)">
                                                <img width=600 height=400 data-src=../media/team-backend.jpg
                                                    class=bg-image alt=team-backend loading=eager
                                                    style="display: none;">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class=col-8>
                                        <div class=ss-services__text-wrap>
                                            <h6 class="title">Backend Development</h6>
                                            <ul>
                                                <li>Team Leader: <span>Sergey Nechaev</span></li>
                                                <li>Team Size: <span>14</span></li>
                                                <li>Focus Areas: <span>Web Apps, Ecommerce, Databases,
                                                        Integrations</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 ss-services__item seo" data-aos=fade-up-left
                                data-aos-duration=1000>
                                <div class="row no-gutters">
                                    <div class="col-4 img-holder">
                                        <div class="ss-services__img-wrap bg-cover">
                                            <picture>
                                                <source data-srcset=../media/team-seo.jpg
                                                    media="(min-width: 523px) and (max-width: 600px)">
                                                <source data-srcset=../media/team-seo-522x348.jpg
                                                    media="(min-width: 418px) and (max-width: 522px)">
                                                <source data-srcset=../media/team-seo-417x278.jpg
                                                    media="(min-width: 301px) and (max-width: 417px)">
                                                <source data-srcset=../media/team-seo-300x200.jpg
                                                    media="(min-width: 283px) and (max-width: 300px)">
                                                <source data-srcset=../media/team-seo-282x188.jpg
                                                    media="(min-width: 76px) and (max-width: 282px)">
                                                <source data-srcset=../media/team-seo-75x50.jpg
                                                    media="(max-width: 75px)">
                                                <img width=600 height=400 data-src=../media/team-seo.jpg class=bg-image
                                                    alt=team-seo loading=eager style="display: none;">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class=col-8>
                                        <div class=ss-services__text-wrap>
                                            <h6 class="title">SEO</h6>
                                            <ul>
                                                <li>Team Leader: <span>Victoria Tan</span></li>
                                                <li>Team Size: <span>97</span></li>
                                                <li>Focus Areas: <span>Link Building, Marketing Reports</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 ss-services__item content" data-aos=fade-up-left
                                data-aos-duration=1000>
                                <div class="row no-gutters">
                                    <div class="col-4 img-holder">
                                        <div class="ss-services__img-wrap bg-cover">
                                            <picture>
                                                <source data-srcset=../media/img-content.jpg
                                                    media="(min-width: 59px) and (max-width: 140px)">
                                                <source data-srcset=../media/img-content-58x75.jpg
                                                    media="(max-width: 58px)">
                                                <img width=140 height=180 data-src=../media/img-content.jpg
                                                    class=bg-image alt loading=eager style="display: none;">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class=col-8>
                                        <div class=ss-services__text-wrap>
                                            <h6 class="title">Content</h6>
                                            <ul>
                                                <li>Team Leader: <span>Chad Faith</span></li>
                                                <li>Team Size: <span>77</span></li>
                                                <li>Focus Areas: <span>Copywriting, Blogging</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 ss-services__item marketing-admin" data-aos=fade-up-left
                                data-aos-duration=1000>
                                <div class="row no-gutters">
                                    <div class="col-4 img-holder">
                                        <div class="ss-services__img-wrap bg-cover">
                                            <picture>
                                                <source data-srcset=../media/img-marketing-admin.jpg
                                                    media="(min-width: 59px) and (max-width: 140px)">
                                                <source data-srcset=../media/img-marketing-admin-58x75.jpg
                                                    media="(max-width: 58px)">
                                                <img width=140 height=180 data-src=../media/img-marketing-admin.jpg
                                                    class=bg-image alt loading=eager style="display: none;">
                                            </picture>
                                        </div>
                                    </div>
                                    <div class=col-8>
                                        <div class=ss-services__text-wrap>
                                            <h6 class="title">Marketing Admin</h6>
                                            <ul>
                                                <li>Team Leader: <span>Aisha Ghulam</span></li>
                                                <li>Team Size: <span>3</span></li>
                                                <li>Focus Areas: <span>Social Media Scheduling, Data Entry</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

     {% include 'includes/footer.html' %}
   
    <script async src="{% static 'wp-content/cache/minify/8115f.js' %}"></script>
    <script async src="{% static 'wp-content/cache/minify/e7db6.js' %}"></script>
    <script src="{% static 'wp-includes/js/dist/i18n.min771a.js' %}" id=wp-i18n-js></script>
    <script id=wp-i18n-js-after>wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });</script>
    <script async src="{% static 'wp-content/cache/minify/aba2a.js' %}"></script>
  
    <script async src="{% static 'wp-content/cache/minify/24d96.js' %}"></script>
    <script async src="{% static 'wp-content/cache/minify/adcb0.js' %}"></script>
    <script defer src="{% static 'wp-content/cache/minify/45ffb.js' %}"></script>
    
    

{% endblock %}
  
