{% extends 'base.html' %}
{% load static %}
{% block content %}
<body
   class="page-template page-template-page-templates page-template-tpl-services-page page-template-page-templatestpl-services-page-php page page-id-29167 has-sidebar">
   <div id=site-wrapper class=site-wrapper>
      {% include 'includes/header.html' %}
      <main
         id=main class=site-content>
         <section
            class="inner-banner ppc-banner inner-banner__alt bg-cover banner-overlay" data-aos=fade-up>
            <!--<picture>
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner.jpg media="(min-width: 1537px) and (max-width: 2000px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-1536x730.jpg media="(min-width: 1025px) and (max-width: 1536px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-1024x486.jpg media="(min-width: 978px) and (max-width: 1024px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-977x464.jpg media="(min-width: 769px) and (max-width: 977px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-768x365.jpg media="(min-width: 756px) and (max-width: 768px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-755x359.jpg media="(min-width: 688px) and (max-width: 755px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-687x326.jpg media="(min-width: 571px) and (max-width: 687px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-570x271.jpg media="(min-width: 547px) and (max-width: 570px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-546x259.jpg media="(min-width: 397px) and (max-width: 546px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-396x188.jpg media="(min-width: 301px) and (max-width: 396px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-300x143.jpg media="(min-width: 76px) and (max-width: 300px)">
               <source
               data-srcset=https://www.smartsites.com/media/smartsites-services-page-banner-75x36.jpg media="(max-width: 75px)">
               <img
               width=2000 height=950 data-src=https://www.smartsites.com/media/smartsites-services-page-banner.jpg class=bg-image alt="SmartSites Digital Marketing Services" loading=eager style="display: none;" decoding=async fetchpriority=high>
               </picture>
                -->
            <div style="padding-bottom:3rem;height:68vh;" class=inner-banner__altcontent>
               <div
                  class=row>
                  <div
                     class="col-lg-7 align-self-center inner-banner__altinfo">
                     <div
                        class=inner-banner__alttext data-aos=fade-up data-aos-duration=1000>
                        <div
                           class=breadcrumbs>
                           <h1>Grow Your Business With Scalable Digital Marketing</h1>
                        </div>
                        <h2>Outsmart the competition with best-in-class digital marketing services</h2>
                        <p>Get more traffic. Acquire more customers. Sell more stuff. SmartSites offers proven strategies & reliable execution to exceed your marketing goals.</p>
                        <!--
                           <div class=inner-banner__altpartner>
                           <ul class=list-unstyled>
                           li>
                           <img
                           width=60 height=51 src=https://www.smartsites.com/media/google-partner-premier-2024.svg class="attachment-full size-full" alt="Google Partner- Premier 2024" loading=auto decoding=async>  </li>
                           <li>
                           <img
                           width=144 height=50 src=https://www.smartsites.com/media/microsoft-ads-select-partner-2024.svg class="attachment-full size-full" alt="Microsoft Advertising Select Partner 2024" loading=auto decoding=async>  </li>
                           <li>
                           <img
                           width=107 height=50 src=https://www.smartsites.com/media/meta-business-partner-smartsites.svg class="attachment-full size-full" alt="Meta Business Partner" loading=auto decoding=async>  </li>
                           <li>
                           <img
                           width=206 height=79 src=https://www.smartsites.com/media/amazon-ads-verified-partner-2023.svg class="attachment-full size-full" alt="Amazon Ads Partner" loading=auto decoding=async>  </li>
                           <li>
                           <img
                           width=118 height=50 src=https://www.smartsites.com/media/hubspot-certified-partner-1.svg class="attachment-full size-full" alt="Hubspot Certified Partner" loading=auto decoding=async>  </li>
                           <li>
                           <img
                           width=108 height=49 src=https://www.smartsites.com/media/inc-5000-smartsites-in-7-years.svg class="attachment-full size-full" alt="Inc. 5000, SmartSites in 7 years" loading=auto decoding=async>  </li>
                           <li>
                           <img
                           width=85 height=49 src=https://www.smartsites.com/media/bbb-a-plus-rating-smartsites.svg class="attachment-full size-full" alt="BBB A+ rating" loading=auto decoding=async>  </li>

                           <li>
                           <img
                           width=117 height=48 src=https://www.smartsites.com/media/klaviyo-master-plus-champion.svg class="attachment-full size-full" alt="Klaviyo Master Plus Champion" loading=auto decoding=async>  </li></ul>
                           </div>
                           -->
                     </div>
                  </div>
                  <!--<div
                     class="col-lg-5 absolute-hero"><div
                     class=image-wrap data-aos=fade-down data-aos-duration=1000>
                     <picture>
                     <source
                     srcset=https://www.smartsites.com/media/digital-marketing-services-banner-hero.png media="(min-width: 558px) and (max-width: 718px)">
                     <source
                     srcset=https://www.smartsites.com/media/digital-marketing-services-banner-hero-557x464.png media="(min-width: 521px) and (max-width: 557px)">
                     <source
                     srcset=https://www.smartsites.com/media/digital-marketing-services-banner-hero-520x433.png media="(min-width: 506px) and (max-width: 520px)">
                     <source
                     srcset=https://www.smartsites.com/media/digital-marketing-services-banner-hero-505x421.png media="(min-width: 419px) and (max-width: 505px)">
                     <source
                     srcset=https://www.smartsites.com/media/digital-marketing-services-banner-hero-418x348.png media="(min-width: 335px) and (max-width: 418px)">
                     <source
                     srcset=https://www.smartsites.com/media/digital-marketing-services-banner-hero-334x278.png media="(min-width: 301px) and (max-width: 334px)">
                     <source
                     srcset=https://www.smartsites.com/media/digital-marketing-services-banner-hero-300x250.png media="(min-width: 227px) and (max-width: 300px)">
                     <source
                     srcset=https://www.smartsites.com/media/digital-marketing-services-banner-hero-226x188.png media="(min-width: 76px) and (max-width: 226px)">
                     <source
                     srcset=https://www.smartsites.com/media/digital-marketing-services-banner-hero-75x62.png media="(max-width: 75px)">
                     <img
                     width=718 height=598 src=https://www.smartsites.com/media/digital-marketing-services-banner-hero.png class="attachment-full size-full" alt="Digital Marketing Services banner hero" loading=auto decoding=async>
                     </picture></div></div>-->
               </div>
            </div>
         </section>
         <section
            class="block-marketing block-marketing__v2 p-0">
            <div
               class=block-marketing__content>
               <div
                  id=rated class=block-marketing__item>
                  <div
                     class=container>
                     <div
                        class="row align-items-center">
                        <div
                           class="col-lg-6 order-2">
                           <div
                              class=block-marketing__text data-aos=fade-right data-aos-duration=1000>
                              <div
                                 class=blue-text>
                                 <h5>America’s #1 Rated Digital Marketing Agency</h5>
                              </div>
                              <h3>With SmartSites, you get the best services, processes, and people to grow your business.</h3>
                              <!--<div class=img-wrap><ul
                                 class=flex-wrap>
                                 <li
                                 class="w-100 mb-1"><strong>Featured In</strong></li>
                                 <li><figure>
                                 <picture>
                                 <source
                                 srcset=https://www.smartsites.com/media/service-featured-in-forbes.png media="(min-width: 76px) and (max-width: 80px)">
                                 <source
                                 srcset=https://www.smartsites.com/media/service-featured-in-forbes-75x23.png media="(max-width: 75px)">
                                 <img
                                 width=80 height=24 src=https://www.smartsites.com/media/service-featured-in-forbes.png class="attachment-full size-full" alt="Featured In Forbes" loading=auto decoding=async>
                                 </picture></figure>
                                 </li>
                                 <li><figure>
                                 <picture>
                                 <source
                                 srcset=https://www.smartsites.com/media/service-featured-in-new-bloomberg.png media="(min-width: 76px) and (max-width: 140px)">
                                 <source
                                 srcset=https://www.smartsites.com/media/service-featured-in-new-bloomberg-75x14.png media="(max-width: 75px)">
                                 <img
                                 width=140 height=26 src=https://www.smartsites.com/media/service-featured-in-new-bloomberg.png class="attachment-full size-full" alt="Featured In Bloomberg" loading=auto decoding=async>
                                 </picture></figure>
                                 </li>
                                 <li><figure>
                                 <img
                                 width=65 height=23 src=https://www.smartsites.com/media/service-featured-in-inc-magazine.png class="attachment-full size-full" alt="Featured In Inc." loading=auto decoding=async></figure>
                                 </li>
                                 <li><figure>
                                 <img
                                 width=65 height=21 src=https://www.smartsites.com/media/service-featured-in-npr.png class="attachment-full size-full" alt="Featured In npr" loading=auto decoding=async></figure>
                                 </li>
                                 <li><figure>
                                 <picture>
                                 <source
                                 srcset=https://www.smartsites.com/media/service-featured-in-bloomberg-businessweek.png media="(min-width: 76px) and (max-width: 82px)">
                                 <source
                                 srcset=https://www.smartsites.com/media/service-featured-in-bloomberg-businessweek-75x19.png media="(max-width: 75px)">
                                 <img
                                 width=82 height=21 src=https://www.smartsites.com/media/service-featured-in-bloomberg-businessweek.png class="attachment-full size-full" alt="Featured In bloomberg" loading=auto decoding=async>
                                 </picture></figure>
                                 </li></ul></div>-->
                           </div>
                        </div>
                        <!--
                           <div
                           class="col-lg-6 order-1 mb-4 mb-lg-0"><div
                           class=block-marketing__media data-aos=zoom-in data-aos-duration=1000>
                           <figure>
                           <picture>
                           <source
                           srcset=https://www.smartsites.com/media/rated-badges.png media="(min-width: 571px) and (max-width: 609px)">
                           <source
                           srcset=https://www.smartsites.com/media/rated-badges-570x221.png media="(min-width: 547px) and (max-width: 570px)">
                           <source
                           srcset=https://www.smartsites.com/media/rated-badges-546x212.png media="(min-width: 448px) and (max-width: 546px)">
                           <source
                           srcset=https://www.smartsites.com/media/rated-badges-447x173.png media="(min-width: 301px) and (max-width: 447px)">
                           <source
                           srcset=https://www.smartsites.com/media/rated-badges-300x116.png media="(min-width: 76px) and (max-width: 300px)">
                           <source
                           srcset=https://www.smartsites.com/media/rated-badges-75x29.png media="(max-width: 75px)">
                           <img
                           width=609 height=236 src=https://www.smartsites.com/media/rated-badges.png class="attachment-full size-full" alt="America’s #1 Rated Digital Marketing Agency" loading=auto decoding=async>
                           </picture></figure>
                           </div></div>


                           -->
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section
            class="dms-block bg-cover">
            <picture>
               <source
                  data-srcset="{% static 'images/services-banner.webp' %}" media="(min-width: 997px) and (max-width: 1024px)">
               <source
                  data-srcset="{% static 'images/services-banner.webp' %}" media="(min-width: 769px) and (max-width: 996px)">
               <source
                  data-srcset="{% static 'images/services-banner.webp' %}" media="(min-width: 756px) and (max-width: 768px)">
               <source
                  data-srcset="{% static 'images/services-banner.webp' %}" media="(min-width: 688px) and (max-width: 755px)">
               <source
                  data-srcset="{% static 'images/services-banner.webp' %}" media="(min-width: 571px) and (max-width: 687px)">
               <source
                  data-srcset="{% static 'images/services-banner.webp' %}" media="(min-width: 547px) and (max-width: 570px)">
               <source
                  data-srcset=https://www.smartsites.com/media/digital-marketing-services-banner-546x254.jpg media="(min-width: 405px) and (max-width: 546px)">
               <source
                  data-srcset="{% static 'images/services-banner.webp' %}" media="(min-width: 301px) and (max-width: 404px)">
               <source
                  data-srcset="{% static 'images/services-banner.webp' %}" media="(min-width: 76px) and (max-width: 300px)">
               <source
                  data-srcset="{% static 'images/services-banner.webp' %}" media="(max-width: 75px)">
               <img
                  width=1024 height=477 data-src="{% static 'images/services-banner.webp' %}" class=bg-image alt="ArmSolutions Web Development Company" loading=eager style="display: none;" decoding=async>
            </picture>
            <div
               class=container>
               <div
                  class="section-title text-center text-white">
                  <h2>Arm Solutions Services</h2>
               </div>
               <div
                  class=dms-services>
                  <div
                     class=service-item data-aos=fade-up data-aos-duration=1000 data-aos-delay=100>
                     <div
                        class=holder>
                        <div
                           class=head>
                           <div
                              class=icon><a ><i
                              class=icon-wdi></i></a></div>
                           <h6>
                              <a>Web Design & Development </a>
                           </h6>
                        </div>
                        <div
                           class=body>
                           <ul>
                              <li><a
                                 >Tailored solutions</a></li>
                              <li><a
                                 >Scalable applications</a></li>
                              <li><a
                                 >Responsive design</a></li>
                              <li><a
                                 >User-friendly interfaces</a></li>
                              <li><a
                                 >Modern aesthetics</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div
                     class=service-item data-aos=fade-up data-aos-duration=1000 data-aos-delay=200>
                     <div
                        class=holder>
                        <div
                           class=head>
                           <div
                              class=icon><a
                              ><i
                              class=icon-ppca></i></a></div>
                           <h6><a
                              href=https://www.smartsites.com/ppc-marketing/ >E-commerce Development</a></h6>
                        </div>
                        <div
                           class=body>
                           <ul>
                              <li><a
                                 >Advanced product management</a></li>
                              <li><a
                                 >Secure payment integration</a></li>
                              <li><a
                                 >Customized Admin Panel</a></li>
                              <li><a
                                 >Inventory and order tracking</a></li>
                              <li><a
                                 >User account management</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div
                     class=service-item data-aos=fade-up data-aos-duration=1000 data-aos-delay=300>
                     <div
                        class=holder>
                        <div
                           class=head>
                           <div
                              class=icon><a
                              href=><i
                              class=icon-seoi></i></a></div>
                           <h6><a
                              >Web Maintenance & Support</a></h6>
                        </div>
                        <div
                           class=body>
                           <ul>
                              <li><a
                                 >Updates & backups</a></li>
                              <li><a
                                 >Optimization</a></li>
                              <li><a
                                 >Security monitoring</a></li>
                              <li><a
                                 >Proper Backups management</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div
                     class=service-item data-aos=fade-up data-aos-duration=1000 data-aos-delay=400>
                     <div
                        class=holder>
                        <div
                           class=head>
                           <div
                              class=icon><a
                              ><i
                              class=icon-email-marketing></i></a></div>
                           <h6><a
                              >Database Development & Management</a></h6>
                        </div>
                        <div
                           class=body>
                           <ul>
                              <li><a
                                 >Design & architecture</a></li>
                              <li><a
                                 >Data migration</a></li>
                              <li><a
                                 >Performance tuning</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div
                     class=service-item data-aos=fade-up data-aos-duration=1000 data-aos-delay=500>
                     <div
                        class=holder>
                        <div
                           class=head>
                           <div
                              class=icon><a
                              href=https://www.smartsites.com/social-media-marketing/ ><i
                              class=icon-smmi></i></a></div>
                           <h6><a
                              >More Services</a></h6>
                        </div>
                        <div
                           class=body>
                           <ul>
                              <li><a
                                 >API Creation & Integration</a></li>
                              <li><a
                                 >Third-party Integration</a></li>
                              <li><a
                                 >UX/UI Design</a></li>
                              <li><a
                                 >High Seo
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section
            class="block-marketing block-marketing__v2 pb-0">
            <div
               class=block-marketing__content>
               <div
                  id=web-design class=block-marketing__item>
                  <div
                     class=container>
                     <div
                        class=row>
                        <div
                           class="col-lg-6 ">
                           <div
                              class=block-marketing__text data-aos=fade-right data-aos-duration=1000>
                              <div
                                 class=blue-text>
                                 <i
                                    class=icon-wdi></i>
                                 <h2 class="h5"><a
                                    href=https://www.smartsites.com/web-design/ >Results-Driven Website Design</a></h2>
                              </div>
                              <h3>Get a beautiful website that wins customers.</h3>
                              <p>Elevate your business with a trusted website that your customers will love. Our award-winning website designers will represent your brand in the best possible way. Your website will load extremely fast and look great on all devices.</p>
                              <div
                                 class=text-green>
                                 <span>10+</span>
                                 <p>Successful websites launched by our team since 2020</p>
                              </div>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 ">
                           <div
                              class=block-marketing__media data-aos=zoom-in data-aos-duration=1000>
                              <figure></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div
                  id=ppc class=block-marketing__item>
                  <div
                     class=container>
                     <div
                        class=row>
                        <div
                           class="col-lg-6 order-lg-2 order-1">
                           <div
                              class=block-marketing__text data-aos=fade-right data-aos-duration=1000>
                              <div
                                 class=blue-text>
                                 <i
                                    class=icon-ppca></i>
                                 <h2 class="h5"><a
                                    href=https://www.smartsites.com/ppc-marketing/ >Certified Pay-Per-Click Advertising</a></h2>
                              </div>
                              <h3>Improve your ROI with Scalable PPC marketing.</h3>
                              <p>SmartSites is rated in the top 1% of digital marketing agencies. Blending performance with exceptional customer service, our PPC specialists are some of the best in the industry with a track record for growing successful businesses.</p>
                              <div
                                 class=img-wrap>
                                 <ul>
                                    <li>
                                       <figure><a
                                          href="https://www.google.com/partners/agency?id=5087479293" target=_blank>
                                          <img
                                             src=https://www.gstatic.com/partners/badge/images/2024/PremierBadge.png alt="Google PremierBadge" style=max-height:95px; loading=lazy>
                                          </a>
                                       </figure>
                                    </li>
                                    <li>
                                       <figure>
                                          <picture>
                                             <source
                                                srcset=https://www.smartsites.com/media/ms-partner-2024-sm.jpg media="(min-width: 76px) and (max-width: 187px)">
                                             <source
                                                srcset=https://www.smartsites.com/media/ms-partner-2024-sm-75x26.jpg media="(max-width: 75px)">
                                             <img
                                                width=187 height=64 src=https://www.smartsites.com/media/ms-partner-2024-sm.jpg class="attachment-full size-full" alt="Microsoft Advertising Select Partner 2024" decoding=async>
                                          </picture>
                                       </figure>
                                    </li>
                                    <li>
                                       <figure>
                                          <picture>
                                             <source
                                                srcset=https://www.smartsites.com/media/logo-meta-business-partner.png media="(min-width: 76px) and (max-width: 165px)">
                                             <source
                                                srcset=https://www.smartsites.com/media/logo-meta-business-partner-75x32.png media="(max-width: 75px)">
                                             <img
                                                width=165 height=71 src=https://www.smartsites.com/media/logo-meta-business-partner.png class="attachment-full size-full" alt="Meta Business Partner" decoding=async>
                                          </picture>
                                       </figure>
                                    </li>
                                    <li>
                                       <figure>
                                          <picture>
                                             <source
                                                srcset=https://www.smartsites.com/media/amazon-ads-1.png media="(min-width: 76px) and (max-width: 165px)">
                                             <source
                                                srcset=https://www.smartsites.com/media/amazon-ads-1-75x42.png media="(max-width: 75px)">
                                             <img
                                                width=165 height=92 src=https://www.smartsites.com/media/amazon-ads-1.png class="attachment-full size-full" alt="Amazon Ads" decoding=async>
                                          </picture>
                                       </figure>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 order-lg-1 order-2">
                           <div
                              class=block-marketing__bar data-aos=zoom-in data-aos-duration=1000>
                              <div
                                 class="bar-group js-achivement__bars">
                                 <div
                                    class=bar-wrap>
                                    <h5>SMARTSITES PERFORMANCE</h5>
                                    <div
                                       class="bar bar--yellow" data-percentage=99%>
                                       <span
                                          class=bar-bg></span>
                                       <div
                                          class="bar-indicator bar-indicator--logo">
                                          <span>99%</span>
                                       </div>
                                       <div
                                          class="bar-filler bar-filler"></div>
                                    </div>
                                 </div>
                                 <div
                                    class=bar-wrap>
                                    <h5>BESTCOMPANY™ OVERALL</h5>
                                    <div
                                       class="bar bar--blue" data-percentage=83%>
                                       <span
                                          class=bar-bg></span>
                                       <div
                                          class="bar-indicator ">
                                          <span>83%</span>
                                       </div>
                                       <div
                                          class="bar-filler bar-filler"></div>
                                    </div>
                                 </div>
                                 <div
                                    class=bar-wrap>
                                    <h5>BESTCOMPANY™ MINIMUM</h5>
                                    <div
                                       class="bar " data-percentage=40%>
                                       <span
                                          class=bar-bg></span>
                                       <div
                                          class="bar-indicator ">
                                          <span>40%</span>
                                       </div>
                                       <div
                                          class="bar-filler bar-filler"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>



            </div>
         </section>
         <section
            class=rotating-logos-block>
            <div
               class=container>
               <div
                  class=text-wrap>
                  <h2>
                     Trusted by
                     <div
                        id=typed-items style=display:none;>
                        <p>Retailers</p>
                        <p>DTC brands</p>
                        <p>Physicians</p>
                        <p>B2B Businesses</p>
                        <p>Lawyers</p>
                        <p>SAAS companies</p>
                        <p>Small businesses</p>
                        <p>Enterprises</p>
                        <p>Home contractors</p>
                        <p>Manufacturers</p>
                        <p>Solo professionals</p>
                        <p>Car dealers</p>
                        <p>Universities</p>
                        <p>Consulting firms</p>
                        <p>Startups</p>
                     </div>
                     <span
                        data-typed='{"stringsElement":"#typed-items","typeSpeed":70,"backSpeed":50,"backDelay":500,"startDelay":1000,"loop":true}'></span>
                  </h2>
                  <p>SmartSites is trusted by over 1,000 businesses just like yours!</p>
               </div>
            </div>

         </section>
         <!--<section
            class=ytdmp-block>
            <div class=container>
            <div
            class="sec-title mb-1 mb-md-3 mb-xl-4 text-center"><h2>Your Trusted Digital Marketing Partner</h2></div><div
            class="row pt-2"><div
            class="col-sm-6 col-lg-4"><div
            class=holder><div
            class=img-wrap>
            <picture>
            <source
            srcset=https://www.smartsites.com/media/img-passion.jpg media="(min-width: 373px) and (max-width: 413px)">
            <source
            srcset=https://www.smartsites.com/media/img-passion-372x278.jpg media="(min-width: 301px) and (max-width: 372px)">
            <source
            srcset=https://www.smartsites.com/media/img-passion-300x224.jpg media="(min-width: 252px) and (max-width: 300px)">
            <source
            srcset=https://www.smartsites.com/media/img-passion-251x188.jpg media="(min-width: 76px) and (max-width: 251px)">
            <source
            srcset=https://www.smartsites.com/media/img-passion-75x56.jpg media="(max-width: 75px)">
            <img
            width=413 height=309 src=https://www.smartsites.com/media/img-passion.jpg class="attachment-full size-full" alt=PASSION decoding=async>
            </picture></div><h3><small>PASSION</small>We Have Over 300 Team Members Dedicated To The Disciplines Of Digital Marketing.</h3></div></div><div
            class="col-sm-6 col-lg-4"><div
            class=holder><div
            class=img-wrap>
            <picture>
            <source
            srcset=https://www.smartsites.com/media/img-experience.jpg media="(min-width: 373px) and (max-width: 413px)">
            <source
            srcset=https://www.smartsites.com/media/img-experience-372x278.jpg media="(min-width: 301px) and (max-width: 372px)">
            <source
            srcset=https://www.smartsites.com/media/img-experience-300x224.jpg media="(min-width: 252px) and (max-width: 300px)">
            <source
            srcset=https://www.smartsites.com/media/img-experience-251x188.jpg media="(min-width: 76px) and (max-width: 251px)">
            <source
            srcset=https://www.smartsites.com/media/img-experience-75x56.jpg media="(max-width: 75px)">
            <img
            width=413 height=309 src=https://www.smartsites.com/media/img-experience.jpg class="attachment-full size-full" alt=EXPERIENCE decoding=async>
            </picture></div><h3><small>EXPERIENCE</small>We deliver proven strategies & reliable execution to businesses of All Sizes.</h3></div></div><div
            class="col-sm-6 col-lg-4"><div
            class=holder><div
            class=img-wrap>
            <picture>
            <source
            srcset=https://www.smartsites.com/media/img-leadership.jpg media="(min-width: 373px) and (max-width: 413px)">
            <source
            srcset=https://www.smartsites.com/media/img-leadership-372x278.jpg media="(min-width: 301px) and (max-width: 372px)">
            <source
            srcset=https://www.smartsites.com/media/img-leadership-300x224.jpg media="(min-width: 252px) and (max-width: 300px)">
            <source
            srcset=https://www.smartsites.com/media/img-leadership-251x188.jpg media="(min-width: 76px) and (max-width: 251px)">
            <source
            srcset=https://www.smartsites.com/media/img-leadership-75x56.jpg media="(max-width: 75px)">
            <img
            width=413 height=309 src=https://www.smartsites.com/media/img-leadership.jpg class="attachment-full size-full" alt=LEADERSHIP decoding=async>
            </picture></div><h3><small>LEADERSHIP</small>We bring digital marketing trends to the forefront in keynotes across the Globe.</h3></div></div></div></div></section>
            -->
      </main>
   </div>
   {% include 'includes/footer.html' %}
   <link
      rel=stylesheet href="{% static 'wp-content/cache/minify/8c133.css' %}" media=all>
   <script async src="{% static 'wp-content/cache/minify/8a587.js' %}"></script>
   <script src="{% static 'wp-includes/js/jquery/jquery.minaf6c.js' %}" id=jquery-core-js></script>
   <script async src="{% static 'wp-includes/js/66e5c.js' %}"></script>
</body>
{% endblock %}
