{% extends 'base.html' %}
{% load static %}
{% block content %}
<body
    class="page-template page-template-page-templates page-template-tpl-our-work page-template-page-templatestpl-our-work-php page page-id-158 has-sidebar">

    {% include 'includes/header.html' %}

        <main style="margin-top:10rem;" id=main class=site-content>
            <section class="case-studies case-studies--sub case-studies--work">
                <div class="block-title d-md-none d-block">
                    <h2>Our Work</h2>
                    <p>Explore the best in Web Design and Development by ArmSolutions.
                        </p>
                </div>
              <!--  <div class="btn-wrap d-md-none">
                    <button class="btn btn-apply btn-filter"><span></span>Filter</button>
                </div>-->
                <div class=container-fluid>
                    <div class=row>
                      <!--  <div class="col-xl-3 col-lg-4 col-md-5" id=filter-section>
                            <div class="case-studies__filter sticky-wrap">
                                <div class=case-filter data-mCustomScrollbar={}>
                                    <div class=case-filter__head>
                                        <span>
                                            <h3>Service</h3>
                                        </span>
                                    </div>
                                    <input type=hidden name=action value=filter_case_study>
                                    <div class="case-filter__groups case-filter__groups--icons card-deck">
                                        <div class=card>
                                            <div class=card-inner>
                                                <div class=card-icon>
                                                    <span class=icon-email-marketing></span>
                                                </div>
                                                <div class=card-body>
                                                    <a class="card-link stretched-link" href=em/index.html name=em>Email
                                                        &amp; SMS Marketing</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=card>
                                            <div class=card-inner>
                                                <div class=card-icon>
                                                    <span class=icon-smmi></span>
                                                </div>
                                                <div class=card-body>
                                                    <a class="card-link stretched-link" href=social-media/index.html
                                                        name=social-media>Social Media</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=card>
                                            <div class=card-inner>
                                                <div class=card-icon>
                                                    <span class=icon-objective></span>
                                                </div>
                                                <div class=card-body>
                                                    <a class="card-link stretched-link" href=ppc-marketing/index.html
                                                        name=ppc-marketing>PPC Marketing</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=card>
                                            <div class=card-inner>
                                                <div class=card-icon>
                                                    <span class=icon-analysis></span>
                                                </div>
                                                <div class=card-body>
                                                    <a class="card-link stretched-link" href=organic-seo/index.html
                                                        name=organic-seo>Organic SEO</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=card>
                                            <div class=card-inner>
                                                <div class=card-icon>
                                                    <span class=icon-web-programming></span>
                                                </div>
                                                <div class=card-body>
                                                    <a class="card-link stretched-link" href=web-design/index.html
                                                        name=web-design>Web Design</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="case-filter__wrapper case-filter__wrapper--default">
                                        <div class=default-info>
                                            <span class=icon-upload></span>
                                            <p>Select a service to start filtering results</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-xl-12 col-lg-12 col-md-12" id=content-section>
                            <div class=filter-section>
                                <div class="case-studies__content card-deck--design">
                                    <div class="block-title d-none d-md-block">
                                        <h1>Our Work</h1>
                                        <p>Explore the best in  Web Design and Development by ArmSolutions.
                                            </p>
                                    </div>
                                    <div class="row card-deck card-deck--design">
                                        <div class=col-lg-6>
                                            <div class="card card--alt same-height">
                                                <div class=card-header><a
                                                        href="https://maplecourtyarddesigns.co.uk" target="_blank">Maple Court Yard Designs</a></div>
                                                <div class=card-body>
                                                    <figure>
                                                        <a
                                                            href="https://maplecourtyarddesigns.co.uk" target="_blank"><img
                                                                width=570 height=348
                                                                src="{% static 'workimages/maple.png' %}"
                                                                class="attachment-showcase size-showcase"
                                                                alt="Handmade Cards selling Ecommerce Site"                                                                fetchpriority=high data-preload=1></a>
                                                    </figure>
                                                </div>
                                                <div class=card-footer>
                                                    <div class=card>
                                                        <strong
                                                            class="d-block font-weight-normal">
                                                            <p style="font-size:1.2rem;">Maple Courtyard Designs is a distinguished e-commerce platform based in Liverpool, UK, dedicated to offering a curated selection of meticulously handcrafted design cards. .</p>
                                                        </strong>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class=col-lg-6>
                                            <div class="card card--alt same-height">
                                                <div class=card-header><a
                                                        href="https://heywoodelectrical.co.uk" target="_blank">Heywood Electrical</a></div>
                                                <div class=card-body>
                                                    <figure>
                                                        <a
                                                            href="https://heywoodelectrical.co.uk" target="_blank"><img
                                                                width=570 height=348 src="{% static 'workimages/electric.png' %}"
                                                                class="attachment-showcase size-showcase"
                                                                alt="AGA Truck Parts Organic SEO Industrial &amp; Commercial"
                                                            fetchpriority=high data-preload=1></a>
                                                    </figure>
                                                </div>
                                                <div class=card-footer>
                                                    <div class=card>
                                                                <strong
                                                            class="d-block font-weight-normal">
                                                            <p style="font-size:1.2rem">Heywood Electrical, established in Merseyside in 1983, has grown steadily as an electrical contractor and maintenance service provider. Specializing in industrial, commercial, and domestic sectors, we serve a diverse clientele ranging from local authorities to small businesses.</p>
                                                        </strong>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
       
{% include 'includes/footer.html' %}
        <link rel=stylesheet href="{% static 'wp-content/cache/minify/4b06f.css' %}" media=all>
    <script async src="{% static 'wp-content/cache/minify/8115f.js' %}"></script>

 
    <script async src="{% static 'wp-content/cache/minify/941cd.js' %}"></script>
    <script async src="{% static 'wp-content/cache/minify/e7db6.js' %}"></script>
    <script src="{% static 'wp-includes/js/dist/i18n.min771a.js' %}" id=wp-i18n-js></script>
    <script async src="{% static 'wp-content/cache/minify/aba2a.js' %}"></script>
    <script async src="{% static 'wp-content/cache/minify/24d96.js' %}"></script>
    <script async src="{% static 'wp-content/cache/minify/adcb0.js' %}"></script>
    <script defer src="{% static 'wp-content/cache/minify/45ffb.js' %}"></script>

</body>
{% endblock %}
